/* Main Content */
#content {
  position: relative;
  transition: all 0.3s;
  background-color: #eeeeee;
  margin-left: 260px; /* Adjust for sidebar width */
  padding-top: 50px; /* Adjust for navbar height */
}

a,
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  position: fixed;
  height: 100vh !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 260px;
  overflow: auto;
  transition: all 0.3s;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  background-color: #f8f9fa;
  /* màu nền sidebar */
  padding-top: 20px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  color: #093608;
  /* màu chữ logo và user info */
  font-weight: bold;
}

.sidebar-header h3 {
  color: #333;
  font-size: 17px;
  margin: 0px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header h3 img {
  width: 45px;
  margin-right: 10px;
  border-radius: 25px;
}

#sidebar ul li {
  padding: 2px 7px;
}

#sidebar ul li.active > a {
  color: #333;
  background-color: rgba(200, 200, 200, 0.2);
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 23px;
}

#sidebar ul li.drodown {
  position: sticky;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  line-height: 30px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
}

#sidebar ul li a:hover {
  color: #333;
  background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul li a i {
  position: relative;
  margin-right: 10px;
  color: #555555;
  margin-left: 10px;
}

#sidebar .components li a {
  color: #093608;
  /* màu chữ menu */
  font-weight: bold;
}

#sidebar .components li a:hover {
  color: #5a945a;
  /* màu chữ khi hover */
  background-color: #e9ecef;
  /* nền khi hover */
}

#sidebar .components li.active a {
  color: #5a945a;
  /* màu chữ menu active */
  background-color: #d4edda;
  /* nền menu active */
}

.main-content {
  padding: 10px 20px 0px 20px;
  position: relative;
  width: 100%;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  border-radius: 5px;
  width: 70%;
  padding: 10px;
}

.search-bar button {
  padding: 10px 15px;
  background: #35424a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

th {
  background: #35424a;
  color: white;
}

@media only screen and (min-width: 992px) {
  #sidebar.active {
    width: 80px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0 !important;
    z-index: 666;
    float: left !important;
    bottom: 0 !important;
  }

  #sidebar.active .sidebar-header h3 span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active ul li a span {
    display: none;
    transition: all 0.5s ease;
  }

  #sidebar.active .dropdown-toggle::after {
    display: none;
    transition: all 0.5s ease;
  }

  #content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #eeeeee;
    border-radius: 5px;
  }

  #content.active {
    width: calc(100% - 80px);
  }

  #sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
  }

  .maincontent {
    flex-grow: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    width: 90%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
  }

  .item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .item p:first-child {
    font-size: 1.1em;
    color: #555;
  }

  .item p:last-child {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
}

@media only screen and (max-width: 460px) {
  /* CSS rules for screens less than or equal to 480px go here */
  #sidebar {
    width: 150px;
  }
  #sidebar ul li a {
    font-size: 12px;
  }
  .main-content {
    margin-left: 0px;
    width: 100%;
  }
}
